<div class="container">
    <div class="container">
        <div class="card">
            <div class="card-header">
                <h3 class="card-title">
                    <small>Enter directors and secretary details.</small>
                </h3>
            </div>
            <div class="card-body">
                <table id="tblDirectors" class="table table-striped w-100">
                    <thead>
                    <tr>
                        <th>COUNTRY</th>
                        <th>SURNAME</th>
                        <th>NAME(s)</th>
                        <th>GENDER</th>
                        <th>DATE OF BIRTH</th>
                        <th>NATIONAL ID</th>
                        <th>PHYSICAL ADDRESS</th>
                        <th>MOBILE NUMBER</th>
                        <th>EMAIL ADDRESS</th>
                        <th>DATE OF APPOINTMENT</th>
                    </tr>
                    </thead>
                    <tbody>
                    </tbody>
                </table>
                <hr/>
                <form id="secretaryForm">
                    <div class="row">
                        <div class="col-md-6">
                            <div class="form-group">
                                <label for="countryCode">Country</label>
                                <select type="text" name="countryCode" class="form-control select2" id="countryCode">
                                    <option selected></option>
                                    <option value="ZWE">Zimbabwe</option>
                                </select>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group">
                                <label for="surname">Surname</label>
                                <input type="text" name="surname" class="form-control" id="surname">
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-6">
                            <div class="form-group">
                                <label for="names">Names <small>space seperated</small></label>
                                <input type="text" name="names" class="form-control" id="names">
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group">
                                <label for="gender">Gender</label>
                                <select type="text" name="gender" class="form-control select2" id="gender">
                                    <option selected></option>
                                    <option value="0">Male</option>
                                    <option value="1">Female</option>
                                </select>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-6">
                            <div class="form-group">
                                <label for="dateOfBirth">Date of birth</label>
                                <input type="date" class="form-control" name="dateOfBirth" id="dateOfBirth">
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group">
                                <label for="nationalIdentification">National Id</label>
                                <input type="text" name="nationalIdentification" class="form-control" id="nationalIdentification">
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-6">
                            <div class="form-group">
                                <label for="physicalAddress">Physical address</label>
                                <input type="text" name="physicalAddress" class="form-control" id="physicalAddress">
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group">
                                <label for="mobileNumber">Mobile number</label>
                                <input type="text" name="mobileNumber" class="form-control" id="mobileNumber">
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-6">
                            <div class="form-group">
                                <label for="emailAddress">Email address</label>
                                <input type="text" name="emailAddress" class="form-control" id="emailAddress">
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group">
                                <label for="dateOfAppointment">Date of appointment</label>
                                <input type="date" class="form-control" name="dateOfAppointment" id="dateOfAppointment">
                            </div>
                        </div>
                    </div>
                    <div class="float-right">
                        <button type="submit" class="btn btn-info pull-right" id="btn-done">Save</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
