<div id="step-5" class="tab-pane" role="tabpanel" aria-labelledby="step-3">
    <div class="card card-info card-outline card-outline-tabs shadow-none">
        <div class="card-header p-0 border-bottom-0">
            <ul class="nav nav-tabs" id="articles-tab" role="tablist">
                <li class="nav-item">
                    <a class="nav-link active" id="articles-home-tab" data-toggle="pill" href="#articles-home" role="tab" aria-controls="articles-home" aria-selected="true">header</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" id="articles-profile-tab" data-toggle="pill" href="#articles-profile" role="tab" aria-controls="articles-profile" aria-selected="false">header</a>
                </li>
            </ul>
        </div>
        <div class="card-body">
            <div class="tab-content" id="custom-tabs-four-tabContent">
                <div class="tab-pane fade show active" id="articles-home" role="tabpanel" aria-labelledby="articles-home-tab">
                    content
                </div>
                <div class="tab-pane fade" id="articles-profile" role="tabpanel" aria-labelledby="articles-profile-tab">
                    content
                </div>
            </div>
        </div>
        <!-- /.card -->
    </div>
</div>

<div class="container">
    <div class="container">
        <div class="card">
            <div class="card-header">
                <h3 class="card-title">
                    <small>Enter directors and secretary details.</small>
                </h3>
            </div>
            <div class="card-body">
                <button type="button" class="btn btn-default btn-sm float-right" data-toggle="modal" data-target="#modal-director">
                    <i class="fas fa-plus"></i> Add
                </button>
                <table id="tblDirectors" class="table table-striped w-100">
                    <thead>
                    <tr>
                        <th>COUNTRY</th>
                        <th>SURNAME</th>
                        <th>NAME(s)</th>
                        <th>GENDER</th>
                        <th>DATE OF BIRTH</th>
                        <th>NATIONAL ID</th>
                        <th>PHYSICAL ADDRESS</th>
                        <th>MOBILE NUMBER</th>
                        <th>EMAIL ADDRESS</th>
                        <th>DATE OF APPOINTMENT</th>
                    </tr>
                    </thead>
                    <tbody>
                    </tbody>
                </table>                
                <button type="button" class="btn btn-default btn-sm float-right" id="submitDirectors">
                    <i class="fas fa-plus"></i> Save
                </button>
                <hr/>
                <form id="secretaryForm">
                    <div class="row">
                        <div class="col-md-6">
                            <div class="form-group">
                                <label for="countryCode">Country</label>
                                <select type="text" name="countryCode" class="form-control select2" id="countryCode">
                                    <option selected></option>
                                    <option value="ZWE">Zimbabwe</option>
                                </select>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group">
                                <label for="surname">Surname</label>
                                <input type="text" name="surname" class="form-control" id="surname">
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-6">
                            <div class="form-group">
                                <label for="names">Names <small>space seperated</small></label>
                                <input type="text" name="names" class="form-control" id="names">
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group">
                                <label for="gender">Gender</label>
                                <select type="text" name="gender" class="form-control select2" id="gender">
                                    <option selected></option>
                                    <option value="0">Male</option>
                                    <option value="1">Female</option>
                                </select>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-6">
                            <div class="form-group">
                                <label for="dateOfBirth">Date of birth</label>
                                <input type="date" class="form-control" name="dateOfBirth" id="dateOfBirth">
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group">
                                <label for="nationalIdentification">National Id</label>
                                <input type="text" name="nationalIdentification" class="form-control" id="nationalIdentification">
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-6">
                            <div class="form-group">
                                <label for="physicalAddress">Physical address</label>
                                <input type="text" name="physicalAddress" class="form-control" id="physicalAddress">
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group">
                                <label for="mobileNumber">Mobile number</label>
                                <input type="text" name="mobileNumber" class="form-control" id="mobileNumber">
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-6">
                            <div class="form-group">
                                <label for="emailAddress">Email address</label>
                                <input type="text" name="emailAddress" class="form-control" id="emailAddress">
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group">
                                <label for="dateOfAppointment">Date of appointment</label>
                                <input type="date" class="form-control" name="dateOfAppointment" id="dateOfAppointment">
                            </div>
                        </div>
                    </div>
                    <div class="float-right">
                        <button type="submit" class="btn btn-info pull-right" id="btn-done">Save</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>