<div class="card">
    <div class="card-header">
        <div class="user-block">
            <h3 class="card-title">
                <small>Enter the memorandum.</small>
            </h3>
        </div>
        <!-- /.title -->
    </div>
    <div class="card-body">
        <div class="card card-widget elevation-0 mt-2">
            <div class="card-header">
                <div class="user-block">
                    <h3 class="card-title">
                        <small>Enter objectives.<small><strong> The first one should be the main objective.</strong></small></small>
                    </h3>
                </div>
                <!-- /.title -->
            </div>
            <div class="card-body">
                <button type="button" class="btn btn-default btn-sm float-right" data-toggle="modal" data-target="#modal-objective">
                    <i class="fas fa-plus"></i> Add
                </button>
                <table id="tblObjects" class="table table-striped w-100">
                    <thead>
                    <tr>
                        <th>Objective</th>
                    </tr>
                    </thead>
                    <tbody>
                    </tbody>
                </table>
            </div>

            <div class="card-footer">
                <button type="button" class="btn btn-default btn-sm float-right" id="submitObjects"><i class="fas fa-clipboard-list"></i> Save</button>
                <!-- /.submit button-->
            </div>
            <!-- /.card-footer -->
        </div>
        <hr class="w-100"/>
        <div class="row">
            <div class="col-md-6">
                <!-- Box Comment -->
                <div class="card card-widget elevation-0">
                    <div class="card-header">
                        <div class="user-block">
                            <h3 class="card-title">
                                <small>Enter Liability and share clause</small>
                            </h3>
                        </div>
                        <!-- /.title -->
                    </div>
                    <!-- /.card-header -->
                    <!-- form begin -->
                    <form role="form" id="liabilityClauseForm">
                        <div class="card-body">
                            <div class="form-group">
                                <label for="liabilityClause">Liability clause</label>
                                <textarea type="text" name="liabilityClause" class="form-control" id="liabilityClause"></textarea>
                            </div>
                            <!-- /.form-group -->
                        </div>
                        <!-- /.card-body -->
                        <div class="card-footer">
                            <button type="submit" class="btn btn-default btn-sm float-right"><i class="fas fa-clipboard-list"></i> Save</button>
                            <!-- /.submit button-->
                        </div>
                        <!-- /.card-footer -->
                    </form>
                    <!-- /.form -->
                </div>
                <!-- /.card -->
            </div>
            <!-- /.col -->
            <div class="col-md-6">
                <!-- /.card -->
                <!-- Box Comment -->
                <div class="card card-widget elevation-0">
                    <div class="card-header">
                        <div class="user-block">
                            <h3 class="card-title">
                                <small>Share clause</small>
                            </h3>
                        </div>
                        <!-- /.title -->
                    </div>
                    <!-- /.card-header -->
                    <!-- form begin -->

                    <div class="card-body">
                    </div>
                    <!-- /.card-body -->
                    <div class="card-footer">
                        <button type="submit" class="btn btn-default btn-sm float-right" id=""><i class="fas fa-clipboard-list"></i> Save</button>
                        <!-- /.submit button-->
                    </div>
                    <!-- /.card-footer -->
                </div>
                <!-- /.card -->
            </div>
            <!-- /.col -->
        </div>
        <hr class="w-100"/>
        <div class="card card-widget elevation-0">
            <div class="card-header">
                <div class="user-block">
                    <h3 class="card-title">
                        <small>Enter shareholders.</small>
                    </h3>
                </div>
                <!-- /.title -->
            </div>
            <div class="card-body">
                <button type="button" class="btn btn-default btn-sm float-right" data-toggle="modal" data-target="#modal-director">
                    <i class="fas fa-plus"></i> Add
                </button>
                <table id="tblMembers" class="table table-striped w-100">
                    <thead>
                    <tr>
                        <th>Objective</th>
                        <th>Objective</th>
                        <th>Objective</th>
                        <th>Objective</th>
                        <th>Objective</th>
                        <th>Objective</th>
                        <th>Objective</th>
                        <th>Objective</th>
                        <th>Objective</th>
                        <th>Objective</th>
                        <th>Objective</th>
                        <th>Objective</th>
                    </tr>
                    </thead>
                    <tbody>
                    </tbody>
                </table>
            </div>
            <div class="card-footer">
                <button type="submit" class="btn btn-default btn-sm float-right"><i class="fas fa-clipboard-list"></i> Save</button>
                <!-- /.submit button-->
            </div>
            <!-- /.card-footer -->
        </div>
    </div>
</div>