<div class="modal fade" id="modal-people">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">Enter shareholder details</h4>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <form id="peopleForm">
                <div class="modal-body">
                    <!-- /.form-group -->
                    <div class="row">
                        <div class="col-6">
                            <div class="form-group">
                                <label for="peopleCountry">Country</label>
                                <input type="text" name="peopleCountry" class="form-control" id="peopleCountry"/>
                            </div>
                        </div>
                        <div class="col-6">
                            <div class="form-group">
                                <label for="nationalId">National id</label>
                                <input type="text" name="nationalId" class="form-control" id="nationalid"/>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-6">
                            <div class="form-group">
                                <label for="memberSurname">Surname</label>
                                <input type="text" name="memberSurname" class="form-control" id="memberSurname"/>
                            </div>

                        </div>
                        <div class="col-6">
                            <div class="form-group">
                                <label for="memberName">Name(s)</label>
                                <input type="text" name="memberName" class="form-control" id="memberName"/>
                            </div>

                        </div>
                    </div>
                    <div class="row">
                        <div class="col-4">
                            <div class="form-group">
                                <label for="gender">Gender</label>
                                <input type="text" name="gender" class="form-control" id="gender"/>
                            </div>
                        </div>
                        <div class="col-8">
                            <div class="form-group">
                                <label for="phyAddress">Physical Address</label>
                                <input type="text" name="phyAddress" class="form-control" id="phyAddress"/>
                            </div>
                        </div>
                    </div>
                    <div class="form-group">
                        <label>Designation</label>
                        <div class="row">
                            <div class="col-4">
                                <div class="form-check">
                                    <input class="form-check-input" type="checkbox" name="isSecretary">
                                    <label class="form-check-label">Secretary</label>
                                </div>
                            </div>
                            <div class="col-4">
                                <div class="form-check">
                                    <input class="form-check-input" type="checkbox" name="isMember">
                                    <label class="form-check-label">Member</label>
                                </div>
                            </div>
                            <div class="col-4">
                                <div class="form-check">
                                    <input class="form-check-input" type="checkbox" name="isDirector">
                                    <label class="form-check-label">Director</label>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-4">
                            <div class="form-group">
                                <label for="ordShares">Ordinary shares subscribed</label>
                                <input type="text" name="ordShares" class="form-control" id="ordShares"/>
                            </div>
                        </div>
                        <div class="col-4">
                            <div class="form-group">
                                <label for="prefShares">Preference shares subscribed</label>
                                <input type="text" name="prefShares" class="form-control" id="prefShares"/>
                            </div>
                        </div>
                        <div class="col-4">
                            <div class="form-group">
                                <label for="totShares">Total shares subscribed</label>
                                <input type="text" name="totShares" class="form-control" id="totShares" readonly/>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="modal-footer justify-content-between">
                    <button type="button" class="btn btn-default btn sm">Close</button>
                    <button type="submit" class="btn btn-default btn-sm float-right" ><i class="fas fa-plus"></i> Add</button>
                    <!-- /.submit button-->
                </div>
            </form>
        </div>
        <!-- /.modal-content -->
    </div>
    <!-- /.modal-dialog -->
</div>
<!-- /.modal -->