<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <title>@ViewData["Title"] || DCIP - Companies</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css"/>
    <link rel="stylesheet" href="~/css/site.css"/>
    <!-- Admin lte -->
    <link rel="stylesheet" href="~/css/adminlte.css">
    <!-- Font Awesome Icons -->
    <link rel="stylesheet" href="~/lib/fontawesome-free/css/all.min.css">
</head>
<body>
<header>
    <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-white border-bottom box-shadow mb-3">
        <div class="container">
            <a class="navbar-brand">
                @if (ViewBag.ReconsiledAcount != null)
                {
                    <small>ZWL</small>
                    <strong>@ViewBag.ReconsiledAcount.Balance</strong>
                }
                else
                {
                    <strong>Price List</strong>
                }
            </a>
            <div>
                @if (ViewBag.ReconsiledAcount != null)
                {
@*                     <a id="busy"> *@
@*                         <i class="fas fa-wifi text-primary ml-3" *@
@*                            data-toggle="tooltip" *@
@*                            data-placement="bottom" *@
@*                            title="Processing"> *@
@* *@
@*                         </i> *@
@*                     </a> *@
                    <a href="/Information/PriceList">
                        <i class="far fa-shopping-bag text-gray-dark ml-3"
                           data-toggle="tooltip"
                           data-placement="bottom"
                           title="Price list">

                        </i>
                    </a>
                    <a
                        data-toggle="modal"
                        data-target="#modal-lg">
                        <i class="far fa-credit-card text-gray-dark ml-3"
                           data-toggle="tooltip"
                           data-placement="bottom"
                           title="Make payment">
                        </i>
                    </a>
                    <a href="/">
                        <i class="fas fa-sync-alt text-gray-dark ml-3 mr-3"
                           data-toggle="tooltip"
                           data-placement="bottom"
                           title="Sync">
                        </i>
                    </a>
                }

            </div>
        </div>
    </nav>
</header>
<div class="container">
    <main role="main" class="pb-3">
        @RenderBody()
    </main>
</div>

<footer class="border-top footer text-muted">
    <div class="container">
        @* &copy; 2020 - Till - <a asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a> *@
        <p class="text-muted">
            <i>
                <small>Powered by</small>
            </i> <strong>Twenty Third Century Systems</strong>
        </p>
    </div>
</footer>
<script src="~/lib/popper/umd/popper.min.js"></script>
<script src="~/lib/jquery/dist/jquery.min.js"></script>
<script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
<script src="~/js/site.js" asp-append-version="true"></script>


@RenderSection("Scripts", required: false)
</body>
</html>