<div class="modal fade" id="modal-lg">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">Name search</h4>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <p>
                    This process initializes the business registration process giving one an opportunity to list at most five preferred
                    names for name reservation in the companies register.
                </p>

                <p>
                    <strong>Please take note of the following</strong>
                </p>

                <ul>
                    <li style="color:#0C2A46">Always list preferred names in the order of PRIORITY</li>
                    <li style="color:#0C2A46">A name should be at least four characters long</li>
                    <li style="color:#0C2A46">
                        <strong>The Registrar reserves the right to reject any name</strong>
                    </li>
                </ul>

                <table class="table table-mb table-hover">
                    <thead mt-5 mb-5>
                    <tr>
                        <th style="color:#0C2A46">Service
                        <th style="color:#0C2A46">Fee</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr>
                        <td style="color:#0C2A46">Name search</td>
                        <td style="color:#0C2A46">$ 80</td>
                    </tr>

                    </tbody>
                </table>
            </div>
            <div class="modal-footer justify-content-between">
                <button type="button" class="btn btn-sm btn-default" data-dismiss="modal">Close</button>
                <a href="/name-search/new" class="btn btn-sm btn-info text-white">Continue</a>
            </div>
        </div>
        <!-- /.modal-content -->
    </div>
    <!-- /.modal-dialog -->
</div>
<!-- /.modal -->