@{
    ViewBag.Title = "Examination";
    Layout = "_Layout";
}

<!-- Content Header (Page header) -->
<div class="content-header">
    <div class="container-fluId">
        <div class="row mb-2">
            <div class="col-sm-6">
                <h1 class="m-0 text-dark">Task<small>#@ViewBag.TaskId</small></h1>
            </div><!-- /.col -->
            <div class="col-sm-6">
                <ol class="breadcrumb float-sm-right">
                    <li class="breadcrumb-item">
                        <a href="#">Tasks / <span class="text-muted">Task</span></a>
                    </li>
                    @* <li class="breadcrumb-item active">Starter Page</li> *@
                </ol>
            </div><!-- /.col -->
        </div><!-- /.row -->
    </div><!-- /.container-fluId -->
</div>
<!-- /.content-header -->

<div class="container-fluid">

<input type="hidden" id="task-id" value="@ViewBag.TaskId"/>

<div class="row">

<div class="col-md-3">
    <a class="btn btn-info btn-block mb-3">Applications</a>

    <div class="card">
        <div class="card-header">
            <h3 class="card-title">Pending</h3>

            <div class="card-tools">
                <button type="button" class="btn btn-tool" data-card-widget="collapse">
                    <i class="fas fa-minus"></i>
                </button>
            </div>
        </div>
        <div class="card-body p-0">
            <ul class="nav nav-pills flex-column" id="pending">
                <li class="nav-item active">
                    <a href="#" class="nav-link">
                        <i class="far fa-folder"></i> Application
                    </a>
                </li>
                <li class="nav-item">
                    <a href="#" class="nav-link">
                        <i class="far fa-folder"></i> Application
                    </a>
                </li>
                <li class="nav-item">
                    <a href="#" class="nav-link">
                        <i class="far fa-folder"></i> Application
                    </a>
                </li>
                <li class="nav-item">
                    <a href="#" class="nav-link">
                        <i class="far fa-folder"></i> Application
                    </a>
                </li>
            </ul>
        </div>
        <!-- /.card-body -->
    </div>
    <!-- /.card -->
    <div class="card">
        <div class="card-header">
            <h3 class="card-title">Completed</h3>

            <div class="card-tools">
                <button type="button" class="btn btn-tool" data-card-widget="collapse">
                    <i class="fas fa-minus"></i>
                </button>
            </div>
        </div>
        <!-- /.card-header -->
        <div class="card-body p-0">
            <ul class="nav nav-pills flex-column" id="completed">
                <li class="nav-item">
                    <a class="nav-link" href="#">
                        <i class="far fa-folder"></i> Application
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">
                        <i class="far fa-folder"></i> Application
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">
                        <i class="far fa-folder"></i> Application
                    </a>
                </li>
                <li class="nav-item">
                    <a href="#" class="nav-link">
                        <i class="far fa-folder"></i> Application
                    </a>
                </li>
            </ul>
        </div>
        <!-- /.card-body -->
    </div>
    <!-- /.card -->
</div>
<!-- /.col -->

<div class="col-md-9">
    <div class="card card-info card-outline">
        <div class="card-header">
            <h3 class="card-title">Details</h3>
            <div class="card-tools">
                <a href="#" class="btn btn-tool" data-toggle="tooltip" title="Previous">
                    <i class="fas fa-chevron-left"></i>
                </a>
                <a href="#" class="btn btn-tool" data-toggle="tooltip" title="Next">
                    <i class="fas fa-chevron-right"></i>
                </a>
            </div>
        </div>
        <!-- /.card-header -->
        <div class="card-body">
            <div class="row">
                <div class="col-md-6">
                    <div class="form-group">
                        <label>Reason for search</label>
                        <input type="text" class="form-control" id="reason" readonly>
                    </div>
                    <!-- /.form group -->

                    <div class="form-group">
                        <label>Type of entity</label>
                        <input type="text" class="form-control" id="type" readonly>
                    </div>
                    <!-- /.form group -->

                    <div class="form-group">
                        <label>Designation</label>
                        <input type="text" class="form-control" id="designation" readonly>
                    </div>
                    <!-- /.form group -->

                    <div class="form-group">
                        <label>Justification</label>
                        <input type="text" class="form-control" id="justification" readonly>
                    </div>
                    <!-- /.form group -->
                </div>

                <div class="col-md-6" id="name-section">
                    <div class="form-group" id="name1-group">
                        <label>Name 1</label>

                        <div class="input-group">
                            <input type="text" class="form-control" id="name1" readonly/>
                            <div class="input-group-append" data-toggle="modal" data-target="#modal-xl" id="name1-toggle">
                                <div class="input-group-text">
                                    <i class="fas fa-search"></i>
                                </div>
                            </div>
                        </div>
                        <!-- /.input group -->
                    </div>
                    <!-- /.form group -->

                    <div class="form-group" id="name2-group">
                        <label>Name 2</label>

                        <div class="input-group">
                            <input type="text" class="form-control" id="name2" readonly/>
                            <div class="input-group-append" data-toggle="modal" data-target="#modal-xl" id="name2-toggle">
                                <div class="input-group-text">
                                    <i class="fas fa-search"></i>
                                </div>
                            </div>
                        </div>
                        <!-- /.input group -->
                    </div>
                    <!-- /.form group -->

                    <div class="form-group" id="name3-group">
                        <label>Name 3</label>

                        <div class="input-group">
                            <input type="text" class="form-control" id="name3" readonly/>
                            <div class="input-group-append" data-toggle="modal" data-target="#modal-xl" id="name3-toggle">
                                <div class="input-group-text">
                                    <i class="fas fa-search"></i>
                                </div>
                            </div>
                        </div>
                        <!-- /.input group -->
                    </div>
                    <!-- /.form group -->

                    <div class="form-group" id="name4-group">
                        <label>Name 4</label>

                        <div class="input-group">
                            <input type="text" class="form-control" id="name4" readonly/>
                            <div class="input-group-append" data-toggle="modal" data-target="#modal-xl" id="name4-toggle">
                                <div class="input-group-text">
                                    <i class="fas fa-search"></i>
                                </div>
                            </div>
                        </div>
                        <!-- /.input group -->
                    </div>
                    <!-- /.form group -->

                    <div class="form-group" id="name5-group">
                        <label>Name 5</label>

                        <div class="input-group">
                            <input type="text" class="form-control" id="name5" readonly/>
                            <div class="input-group-append" data-toggle="modal" data-target="#modal-xl" id="name5-toggle">
                                <div class="input-group-text">
                                    <i class="fas fa-search"></i>
                                </div>
                            </div>
                        </div>
                        <!-- /.input group -->
                    </div>
                    <!-- /.form group -->

                    <!-- done -->
                    <div class="float-right">
                        <button type="submit" class="btn btn-info pull-right" id="btn-done">Done</button>
                    </div>

                    <!-- /.done -->
                </div>
            </div>
        </div>
    </div>
    <!-- /.card -->
</div>
<!-- /.col -->
</div>
<!-- /.row -->
</div>

<partial name="_NameSearchModalPartial"/>

@section Scripts
{
    <partial name="_ToastRScriptsPartial"/>
    <partial name="_DataTablesScriptsPartial"/>
    <!-- SignalR -->
    <script type="text/javascript" src="~/lib/signalr/dist/browser/signalr.min.js"></script>
    <!-- Name search -->
    <script type="text/javascript" src="~/js/task-name-searches/name-search.js"></script>
    <!-- Data tables -->
    <script type="text/javascript" src="~/js/task-name-searches/data-tables-conf.js"></script>
    <!-- Signal R -->
    <script type="text/javascript" src="~/js/task-name-searches/signal-r-config.js"></script>
}