@{
    ViewBag.Title = "Tasks";
    Layout = "_Layout";
}

<input type="hidden" id="task-id" value="@ViewBag.TaskId"/>
<input type="hidden" id="applicationId"/>

<!-- Content Header (Page header) -->
<div class="content-header">
    <div class="container-fluId">
        <div class="row mb-2">
            <div class="col-sm-6">
                <h1 class="m-0 text-dark">Task <small>#@ViewBag.TaskId</small></h1>
            </div><!-- /.col -->
            <div class="col-sm-6">
                <ol class="breadcrumb float-sm-right">
                    <li class="breadcrumb-item">
                        <a href="#">Tasks / <span class="text-muted">Task</span></a>
                    </li>
                    @* <li class="breadcrumb-item active">Starter Page</li> *@
                </ol>
            </div><!-- /.col -->
        </div><!-- /.row -->
    </div><!-- /.container-fluId -->
</div>
<!-- /.content-header -->

<div class="container-fluid">
<div class="row">
<div class="col-md-3">
    <a class="btn btn-info btn-block mb-3">Applications</a>

    <div class="card">
        <div class="card-header">
            <h3 class="card-title">Pending</h3>

            <div class="card-tools">
                <button type="button" class="btn btn-tool" data-card-widget="collapse">
                    <i class="fas fa-minus"></i>
                </button>
            </div>
        </div>
        <div class="card-body p-0">
            <ul class="nav nav-pills flex-column" id="pending">
                @* <li class="nav-item active"> *@
                @*     <a href="#" class="nav-link"> *@
                @*         <i class="far fa-folder"></i> Application *@
                @*     </a> *@
                @* </li> *@
                @* <li class="nav-item"> *@
                @*     <a href="#" class="nav-link"> *@
                @*         <i class="far fa-folder"></i> Application *@
                @*     </a> *@
                @* </li> *@
                @* <li class="nav-item"> *@
                @*     <a href="#" class="nav-link"> *@
                @*         <i class="far fa-folder"></i> Application *@
                @*     </a> *@
                @* </li> *@
                @* <li class="nav-item"> *@
                @*     <a href="#" class="nav-link"> *@
                @*         <i class="far fa-folder"></i> Application *@
                @*     </a> *@
                @* </li> *@
            </ul>
        </div>
        <!-- /.card-body -->
    </div>
    <!-- /.card -->
    <div class="card">
        <div class="card-header">
            <h3 class="card-title">Completed</h3>

            <div class="card-tools">
                <button type="button" class="btn btn-tool" data-card-widget="collapse">
                    <i class="fas fa-minus"></i>
                </button>
            </div>
        </div>
        <!-- /.card-header -->
        <div class="card-body p-0">
            <ul class="nav nav-pills flex-column">
            </ul>
        </div>
        <!-- /.card-body -->
    </div>
    <!-- /.card -->
</div>
<!-- /.col -->

<div class="col-md-9">
<div class="card card-info card-outline">
<div class="card-header">
    <h3 class="card-title">Details</h3>
</div>
<!-- /.card-header -->
<div class="card-body">
<div id="smartwizard" class="border-0" style="height: 100%">

<ul class="nav">
    <li class="nav-item">
        <a class="nav-link" href="#step-1">
            <strong>Industry sector and Office</strong>
        </a>
    </li>
    <li class="nav-item">
        <a class="nav-link" href="#step-2">
            <strong>Directors and Secretary</strong>
        </a>
    </li>
    <li class="nav-item">
        <a class="nav-link" href="#step-3">
            <strong>Memorandum of Association</strong>
        </a>
    </li>
    <li class="nav-item">
        <a class="nav-link " href="#step-4">
            <strong>Share subscribers</strong>
        </a>
    </li>
    <li class="nav-item">
        <a class="nav-link " href="#step-5">
            <strong>Ariticles of association</strong>
        </a>
    </li>
</ul>

<div class="tab-content mt-4">

<div id="step-1" class="tab-pane" role="tabpanel" aria-labelledby="step-1">
    <div class="card card-info card-outline card-outline-tabs shadow-none">
        <div class="card-header p-0 border-bottom-0">
            <ul class="nav nav-tabs" id="industry-office-tab" role="tablist">
                <li class="nav-item">
                    <a class="nav-link active" id="industry-tab" data-toggle="pill" href="#industry-tab-content" role="tab" aria-controls="industry-tab-content" aria-selected="true">Industry sector</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" id="office-tab" data-toggle="pill" href="#office-tab-content" role="tab" aria-controls="office-tab-content" aria-selected="false">Office</a>
                </li>
            </ul>
        </div>

        <div class="card-body">
            <div class="tab-content" id="industry-office-tabContent">
                <div class="tab-pane fade show active" id="industry-tab-content" role="tabpanel" aria-labelledby="memorandum-home-tab">
                    <div class="form-group">
                        <label for="industrySector">Industry sector</label>
                        <input type="text" name="industrySector" class="form-control" id="industrySector" readonly>
                    </div>
                </div>
                <div class="tab-pane fade" id="office-tab-content" role="tabpanel" aria-labelledby="memorandum-profile-tab">
                    <div class="row">
                        <div class="col-lg-6">
                            <div class="form-group">
                                <label>With effect from</label>
                                <input type="date" class="form-control" name="effectiveFrom" id="effectiveFrom" readonly>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-lg-6">
                            <div class="form-group">
                                <label for="physicalAddress">Physical address</label>
                                <input type="text" name="physicalAddress" class="form-control" id="physicalAddress" readonly>
                            </div>
                        </div>

                        <div class="col-lg-6">
                            <div class="form-group">
                                <label for="officeCity">City</label>
                                <input type="text" name="cityTown" class="form-control" id="officeCity" readonly>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-lg-6">
                            <div class="form-group">
                                <label for="postalAddress">Postal address</label>
                                <input type="text" name="postalAddress" class="form-control" id="postalAddress" readonly>
                            </div>
                        </div>
                        <div class="col-lg-6">
                            <div class="form-group">
                                <label for="emailAddress">Email address</label>
                                <input type="email" name="emailAddress" class="form-control" id="emailAddress" readonly>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-lg-6">
                            <div class="form-group">
                                <label for="telNumber">Telephone number</label>
                                <input type="tel" name="telephoneNumber" class="form-control" id="telNumber" readonly>
                            </div>
                        </div>
                        <div class="col-lg-6">
                            <div class="form-group">
                                <label for="mobileNumber">Mobile number</label>
                                <input type="tel" name="mobileNumber" class="form-control" id="mobileNumber" readonly>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <hr class="w-100"/>
        
                <div class="input-group mb-3">
                  <div class="input-group-prepend">
                    <button type="button" class="btn btn-danger">Submit</button>
                  </div>
                  <!-- /btn-group -->
                  <input type="text" class="form-control">
                </div>
        <!-- /.card -->
    </div>
</div>

<div id="step-2" class="tab-pane" role="tabpanel" aria-labelledby="step-2">
    <div class="card card-info card-outline card-outline-tabs shadow-none">
        <div class="card-header p-0 border-bottom-0">
            <ul class="nav nav-tabs" id="directors-secretary-tab" role="tablist">
                <li class="nav-item">
                    <a class="nav-link active" id="directors-tab" data-toggle="pill" href="#directors-tab-content" role="tab" aria-controls="directors-tab-content" aria-selected="true">Directors</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" id="secretary-tab" data-toggle="pill" href="#secretary-tab-content" role="tab" aria-controls="secretary-tab-content" aria-selected="false">Secretary</a>
                </li>
            </ul>
        </div>

        <div class="card-body">
            <div class="tab-content" id="directors-secretary-tabContent">
                <div class="tab-pane fade show active" id="directors-tab-content" role="tabpanel" aria-labelledby="memorandum-home-tab">
                    <table id="tblDirectors" class="table table-striped">
                        <thead>
                        <tr>
                            <th>FULL NAME</th>
                            <th>COUNTRY</th>
                            <th>GENDER</th>
                            <th>DATE OF BIRTH</th>
                            <th>NATIONAL ID</th>
                            <th>PHYSICAL ADDRESS</th>
                            <th>MOBILE NUMBER</th>
                            <th>EMAIL ADDRESS</th>
                            <th>DATE OF APPOINTMENT</th>
                        </tr>
                        </thead>
                        <tbody>
                        </tbody>
                    </table>
                </div>
                <div class="tab-pane fade" id="secretary-tab-content" role="tabpanel" aria-labelledby="memorandum-profile-tab">
                    <div class="row">
                        <div class="col-md-6">
                            <div class="form-group">
                                <label for="secretaryCountry">Country</label>
                                <input type="text" name="secretaryCountry" class="form-control" id="secretaryCountry" readonly>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group">
                                <label for="secretaryFullName">Full name</label>
                                <input type="text" name="secretaryFullName" class="form-control" id="secretaryFullName" readonly>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group">
                                <label for="secretaryGender">Gender</label>
                                <input type="text" name="secretaryGender" class="form-control" id="secretaryGender" readonly>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-6">
                            <div class="form-group">
                                <label for="secretaryDOB">Date of birth</label>
                                <input type="text" name="secretaryDOB" class="form-control" id="secretaryDOB" readonly>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group">
                                <label for="secretaryNationalId">National Id</label>
                                <input type="text" name="secretaryNationalId" class="form-control" id="secretaryNationalId" readonly>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-6">
                            <div class="form-group">
                                <label for="secretaryPhysicalAddress">Physical address</label>
                                <input type="text" name="secretaryPhysicalAddress" class="form-control" id="secretaryPhysicalAddress" readonly>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group">
                                <label for="secretaryMobile">Mobile number</label>
                                <input type="text" name="secretaryMobile" class="form-control" id="secretaryMobile" readonly>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-6">
                            <div class="form-group">
                                <label for="secretaryEmail">Email address</label>
                                <input type="text" name="secretaryEmail" class="form-control" id="secretaryEmail" readonly>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group">
                                <label for="secretaryDOA">Date of appointment</label>
                                <input type="text" name="secretaryDOA" class="form-control" id="secretaryDOA" readonly>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- /.card -->
    </div>
</div>

<div id="step-3" class="tab-pane" role="tabpanel" aria-labelledby="step-3">
    <div class="card card-info card-outline card-outline-tabs shadow-none">
        <div class="card-header p-0 border-bottom-0">
            <ul class="nav nav-tabs" id="memorandum-tab" role="tablist">
                <li class="nav-item">
                    <a class="nav-link active" id="objects-tab" data-toggle="pill" href="#objects-tab-content" role="tab" aria-controls="objects-tab-content" aria-selected="true">Objects</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" id="liability-clause-tab" data-toggle="pill" href="#liability-clause-tab-content" role="tab" aria-controls="liability-clause-tab-content" aria-selected="false">Liability clause</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" id="share-clause-tab" data-toggle="pill" href="#share-clause-tab-content" role="tab" aria-controls="share-clause-tab-content" aria-selected="false">Share clause</a>
                </li>
            </ul>
        </div>
        <div class="card-body">
            <div class="tab-content" id="memorandum-tabContent">
                <div class="tab-pane fade show active" id="objects-tab-content" role="tabpanel" aria-labelledby="articles-home-tab">

                    <table id="tblObjectives" class="table table-striped w-100">
                        <thead>
                        <tr>
                            <th>OBJECTIVE</th>
                        </tr>
                        </thead>
                        <tbody></tbody>
                    </table>
                </div>
                <div class="tab-pane fade" id="liability-clause-tab-content" role="tabpanel" aria-labelledby="articles-profile-tab">
                    <div class="form-group">
                        <label for="liabilityClause">Liability clause</label>
                        <textarea type="text" name="liabilityClause" class="form-control" id="liabilityClause" readonly></textarea>
                    </div>
                </div>
                <div class="tab-pane fade" id="share-clause-tab-content" role="tabpanel" aria-labelledby="articles-profile-tab">
                    <table id="tblShareClass">
                        <thead>
                        <tr>
                            <th>SHARE CLASSES</th>
                        </tr>
                        </thead>
                        <tbody></tbody>
                    </table>
                </div>
            </div>
        </div>
        <!-- /.card -->
    </div>
</div>

<div id="step-4" class="tab-pane" role="tabpanel" aria-labelledby="step-4">
    <table id="tblMembers" class="table table-striped ">
        <thead>
        <tr>
            <th>FULL NAME</th>
            <th>COUNTRY</th>
            <th>GENDER</th>
            <th>DATE OF BIRTH</th>
            <th>NATIONAL ID</th>
            <th>PHYSICAL ADDRESS</th>
            <th>MOBILE NUMBER</th>
            <th>EMAIL ADDRESS</th>
            <th>DATE OF TAKE UP</th>
            <th>OCCUPATION</th>
        </tr>
        </thead>
        <tbody>
        </tbody>
    </table>
</div>

<div id="step-5" class="tab-pane" role="tabpanel" aria-labelledby="step-3">
    <div class="card card-info card-outline card-outline-tabs shadow-none">
        <div class="card-header p-0 border-bottom-0">
            <ul class="nav nav-tabs" id="articles-tab" role="tablist">
                <li class="nav-item">
                    <a class="nav-link active" id="articles-home-tab" data-toggle="pill" href="#articles-home" role="tab" aria-controls="articles-home" aria-selected="true">Table of articles</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" id="articles-profile-tab" data-toggle="pill" href="#articles-profile" role="tab" aria-controls="articles-profile" aria-selected="false">Amended articles</a>
                </li>
            </ul>
        </div>
        <div class="card-body">
            <div class="tab-content" id="custom-tabs-four-tabContent">
                <div class="tab-pane fade show active" id="articles-home" role="tabpanel" aria-labelledby="articles-home-tab">
                    <form>
                        <div class="form-group">
                            <label for="tableOfArticles">Selected Table of Articles</label>
                            <input type="text" name="tableOfArticles" class="form-control" id="tableOfArticles" readonly>
                        </div>
                        <!-- /.form-group -->
                    </form>
                </div>
                <div class="tab-pane fade" id="articles-profile" role="tabpanel" aria-labelledby="articles-profile-tab">
                    <table id="tblArticles" class="table table-striped">
                        <thead>
                        <tr>
                            <th>Amended article</th>
                        </tr>
                        </thead>
                        <tbody>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
        <!-- /.card -->
    </div>
</div>
</div>

</div>

</div>
</div>
<!-- /.card -->
</div>
<!-- /.col -->
</div>
<!-- /.row -->
</div>

@section Scripts
{
    <partial name="_ValidationScriptsPartial"/>
    <partial name="_StepWizardScriptsPartial"/>
    <partial name="_DataTablesScriptsPartial"/>
    <partial name="_ToastRScriptsPartial"/>
    <!-- SignalR -->
    <script type="text/javascript" src="~/lib/signalr/dist/browser/signalr.min.js"></script>
    <!-- custom smart-wizard configuration -->
    <script type="text/javascript" src="~/js/pvt-entities/step-wizard-conf.js"></script>
    <!-- custom data-tables configuration -->
    <script type="text/javascript" src="~/js/pvt-entities/data-tables-conf.js"></script>
    <!-- pvt-entities script -->
    <script type="text/javascript" src="~/js/pvt-entities/pvt-entities.js"></script>
    <!-- signal-r configuration -->
    <script type="text/javascript" src="~/js/pvt-entities/signal-r-config.js"></script>
}