@{
    ViewBag.Title = "Tasks";
    Layout = "_Layout";
}

<!-- Content Header (Page header) -->
<div class="content-header">
    <div class="container-fluId">
        <div class="row mb-2">
            <div class="col-sm-6">
                <h1 class="m-0 text-dark">Task</h1>
            </div><!-- /.col -->
            <div class="col-sm-6">
                <ol class="breadcrumb float-sm-right">
                    <li class="breadcrumb-item">
                        <a href="#">Tasks / <span class="text-muted">Task</span></a>
                    </li>
                    @* <li class="breadcrumb-item active">Starter Page</li> *@
                </ol>
            </div><!-- /.col -->
        </div><!-- /.row -->
    </div><!-- /.container-fluId -->
</div>
<!-- /.content-header -->

<div class="container-fluid">
    <div class="row">

        <div class="col-md-3">
            <a class="btn btn-info btn-block mb-3">Applications</a>

            <div class="card">
                <div class="card-header">
                    <h3 class="card-title">Pending</h3>

                    <div class="card-tools">
                        <button type="button" class="btn btn-tool" data-card-widget="collapse">
                            <i class="fas fa-minus"></i>
                        </button>
                    </div>
                </div>
                <div class="card-body p-0">
                    <ul class="nav nav-pills flex-column">
                        <li class="nav-item active">
                            <a href="#" class="nav-link">
                                <i class="far fa-folder"></i> Application
                            </a>
                        </li>
                        <li class="nav-item">
                            <a href="#" class="nav-link">
                                <i class="far fa-folder"></i> Application
                            </a>
                        </li>
                        <li class="nav-item">
                            <a href="#" class="nav-link">
                                <i class="far fa-folder"></i> Application
                            </a>
                        </li>
                        <li class="nav-item">
                            <a href="#" class="nav-link">
                                <i class="far fa-folder"></i> Application
                            </a>
                        </li>
                    </ul>
                </div>
                <!-- /.card-body -->
            </div>
            <!-- /.card -->
            <div class="card">
                <div class="card-header">
                    <h3 class="card-title">Completed</h3>

                    <div class="card-tools">
                        <button type="button" class="btn btn-tool" data-card-widget="collapse">
                            <i class="fas fa-minus"></i>
                        </button>
                    </div>
                </div>
                <!-- /.card-header -->
                <div class="card-body p-0">
                    <ul class="nav nav-pills flex-column">
                        <li class="nav-item">
                            <a class="nav-link" href="#">
                                <i class="far fa-folder"></i> Application
                            </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="#">
                                <i class="far fa-folder"></i> Application
                            </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="#">
                                <i class="far fa-folder"></i> Application
                            </a>
                        </li>
                        <li class="nav-item">
                            <a href="#" class="nav-link">
                                <i class="far fa-folder"></i> Application
                            </a>
                        </li>
                    </ul>
                </div>
                <!-- /.card-body -->
            </div>
            <!-- /.card -->
        </div>
        <!-- /.col -->

        <div class="col-md-9">
            <div class="card card-info card-outline">
                <div class="card-header">
                    <h3 class="card-title">Details</h3>
                </div>
                <!-- /.card-header -->
                <div class="card-body p-0">

                </div>
            </div>
            <!-- /.card -->
        </div>
        <!-- /.col -->
    </div>
    <!-- /.row -->
</div>

@section Scripts
{
    <partial name="_DataTablesScriptsPartial"/>
    <script type="text/javascript" src="~/js/task-name-searches/name-search.js"></script>
    <script type="text/javascript" src="~/js/task-name-searches/data-tables-conf.js"></script>
    <script type="text/javascript" src="~/js/task-name-searches/signal-r-config.js"></script>
}
